@charset "UTF-8";

/*fontes_externas======================================================================================*/
@font-face {
  font-family: 'Bebas';
  src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tiny";
  src: url('../fontes/Tiny5-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/*raiz=================================================================================================*/
:root{
  --cor1:#DFF5EA;
  --cor2:#7CFAE7;
  --cor3:#7FE4FA;
  --cor4:#19D2FA;
  --cor5:#379AFA;
  --cor6:#5F7DFA;

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-bebas: 'Bebas';
  --fonte-tiny: 'Tiny';
}



/*quebralinha==========================================================================================*/
div#quebralinha {
    min-height: 40px;
}


/*main=================================================================================================*/
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.775);
    border-radius: 10px;
}

main p {
    font-family: var(--fonte-bebas);
    margin: 20px 0px 20px 0px;
    text-align: justify;
    font-size: 1.7em;
    line-height: 1.5em;
}

main img {
    width: 100%;
}



/*@media===============================================================================================*/
@media (max-width: 500px) {
    main img {
        width: 300px;
        width: 100%;

    }
    main p {
        font-size: 1.2em;
    }
    div#quebralinha {
        min-height: 30px;
    }
}